@font-face {
  font-family: "ancizar";
  src: url(../Fonts/Ancizar_Sans/static/AncizarSans-Regular.ttf);
}
@font-face {
  font-family: "ancizar";
  src: url(../Fonts/Ancizar_Sans/static/AncizarSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "ancizar";
  src: url(../Fonts/Ancizar_Sans/static/AncizarSans-Italic.ttf);
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ancizar", sans-serif;
}
body {
  background-color: #f4f0e0;
  cursor: url(../img/disability-q-krbilol3ttk5gtd1wfvlvl.png), auto;
  /* cursor: pointer; */
}
.nav-container {
  position: sticky;
  top: 0px;
  z-index: 100;
  backdrop-filter: blur(10px);
  gap: 0.5rem;
  padding: 1rem 0 0.1rem 0;
}
.navbar {
  width: 100%;
  height: 50px;
  background: transparent;
  color: #fff;
  /* padding: 0.9rem 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  /* margin: 1rem 0; */
}
.logo-box {
  width: 50px;
  height: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  /* padding: 2rem 1rem; */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}
.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  color: black;
  /* margin: 0 1rem ; */
  /* font-size: 1.5rem; */
  width: 25px;
  height: 25px;
  font-weight: bold;
  margin: 12px;
}
.navbar-content h3 {
  color: #51504b;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-self: start;
  align-items: center;
  margin: 0 0.5rem;
}
.welcome-message {
  color: #51504b;
  font-size: 1rem;
  margin: 0 0 8px 0;
}
.sidebar {
  width: 50px;
  margin: 10px 0 10px 0;
  height: 80vh;
  /* display: block; */
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  /* padding: 2rem 1rem; */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 1rem;
}
.sidebar-link img {
  width: 25px;
  height: 25px;
}
.body-container {
  width: 92.61%;
  margin-top: 0.7rem;
  /* overflow-y:; */
}

.quiz-icon {
  width: 55px;
  height: 55px;
  background: #ed9614;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-img-top {
  width: 35px;
}
.card {
  padding: 15px;
  background-color: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.card-title{
  color: #504f4a;
  margin: 0;
}
.card-body{
  padding: 11px 0 0 0 !important;
}

.bn32 {
  border-color: #ffffff;
  padding: 0.6em 2.3em;
  cursor: pointer;
  border: 1.5px solid #8c8484db;
  border-radius: 10px;
  font-size: 1em;
  color: black;
  background: transparent;
  background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.bn32:hover {
  color: #ffffff;
  background-position: 100%;
}
